@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><span class="glyphicon glyphicon-music" style="color : dodgerblue"/> DKIT Music Store <span class="glyphicon glyphicon-music" style="color:dodgerblue" /></h1>
    <p class="lead">DKIT Music store is a skeletal ecommerce site with an anonymous shopping cart and a registered user only checkout process</p>
    <p><a href="http://www.Dkit.ie" class="btn btn-primary btn-primary">Learn more  about DKIT&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Just In !!! <span class="glyphicon glyphicon-eye-open"/></h2>
        <p>
           New albums just arrived within the last week. These albums in excelllent condition
           have just been added to our stock, check them out NOW! 
        </p>
        <p><a class="btn btn-info" href="http://go.microsoft.com/fwlink/?LinkId=301865">Just In !!! &raquo; &nbsp;<span class="glyphicon glyphicon-eye-open" /></a></p>
    </div>
    <div class="col-md-4">
        <h2>NEW libraries Service <span class="glyphicon glyphicon-thumbs-up"/></h2>
        <p>We are running a new Library service where for a small deposit registered users may borrow for up to a week at a time some of our rarest 78's .</p>
        <p><a class="btn btn-info" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Black Friday</h2>
        <p>DKIT Music store has AMAZING deals for Black Friday.</p>
        <p><a class="btn btn-info" href="http://go.microsoft.com/fwlink/?LinkId=301867">Black Friday &raquo;&nbsp;<span class="glyphicon glyphicon-star" /></a></p>
    </div>
</div>